.admin a{
    background-color: #3472F7;
    padding:20px 50px;
    color: white;
    border-radius: 10px;
}

.admin{
    margin-top: 1vh!important;
}

@media (max-width:992px){
    .btn-btm{
        text-align: center!important;
        margin-top: 50px;
    }
    .btn-tp{
        text-align: center!important;
    }
}

.btn-btm{
    text-align: left;
}

.btn-tp{
    text-align: right;
}